.discount {
  /* height: 100vh; */
  height: 170vh;

  padding: var(--space-size);
  background-color: var(--color-main);
  background-image: url(./../bg-images/discount_mob.png);

  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center bottom; */
  color: var(--color-light);
}

.discount__header {
}
.discount__heading {
  font-size: 1.85rem;
  padding-bottom: 20px;
}

.discount__text {
  padding-bottom: 20px;
}
/* .discount__heading,
.discount__text,
.bold { */
/* margin-left: 740px; */
/* margin-bottom: 50px; */

/* .discount__text{
  margin-left: 740px;

} */

.main__text {
  /* margin-left: 740px; */
  margin-top: 95%;
  width: 80%;
  padding-left: 1%;
}

/* 
.bold {
  padding-top: 0.5%;
} */

.block__container {
  display: block;
  /* margin-top: 0; */
  margin: 0 auto;

  margin-top: 50px;
  /* padding-top: 50px; */
  /* position: fixed; */
  background-color: #ffffff;
  border-radius: 26px;
  padding: 1.1em 0;
  max-width: 99%;
  height: 300px;
  min-width: 50%;
  /* margin-left: 740px; */
  /* margin-top: 200px; */
  /* margin-left: 100%; */
  text-align: center;
  color: #221112;
  align-self: initial;
}

.discount__heading__block {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 4%;
  padding-top: 7%;
}

.discount__text__block {
  margin-top: 3%;
  padding: 0% 19% 0% 19%;
  font-size: 15px;
}

.btn__discount {
  display: flex;
  justify-content: center;
  /* display: block; */
  align-items: center;
  max-width: 300px;
  width: 80%;
  min-width: 70%;
  padding: 1.1em 0;
  border-radius: 70px;
  background-color: var(--color-main);
  color: var(--color-light);
  font-weight: 900;
  text-align: center;
  margin: auto;
  margin-top: 7%;
}

@media (min-width: 768px) {
  .discount {
    height: 100vh;
    background-image: url(./../bg-images/discount_desktop.png);
    background-size: cover;
  }

  .main__text {
    margin-left: 740px;
    margin-top: 100px;
    width: 30%;
  }

  .bold {
    padding-top: 0.5%;
  }

  .block__container {
    /* position: fixed; */
    background-color: #ffffff;
    border-radius: 26px;
    padding: 1.1em 0;
    max-width: 30%;
    height: 270px;
    min-width: 30%;
    margin-left: 740px;
    /* margin-top: 200px; */
    /* margin-left: 100%; */
    text-align: center;
    color: #221112;
    align-self: initial;
    margin-top: 0;
  }

  .discount__heading__block {
    font-size: 2.3rem;
    font-weight: 900;
    padding-bottom: 4%;
    padding-top: 3%;
  }

  .discount__text__block {
    margin: auto;
    padding: 0% 19% 0% 19%;
    font-size: 13px;
  }
  .btn__discount {
    display: flex;
    justify-content: center;
    /* display: block; */
    align-items: center;
    max-width: 300px;
    width: 100%;
    min-width: 230px;
    padding: 1.1em 0;
    border-radius: 70px;
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: 900;
    text-align: center;
    margin: auto;
    margin-top: 5%;
  }
}
