.gifts {
  display: inline-block;
  background-color: #f9f9f9;
  color: #221112;
  height: 100vh;
  padding: var(--space-size);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.gifts__heading {
  font-size: 1.5rem;
  /* padding-top: 10%; */
  margin-top: 2rem;
  /* padding: 10px 20px; */
  /* font-size: 16px; */

  font-weight: 700;
  line-height: 1.45;
  text-align: center;
  color: #ed1c24;
}

.gifts__texts {
  text-align: center;
  padding: 10px 20px;
  font-size: 0.97rem;

  /* padding: 60px 90px; */
  /* padding: 20px 290px 80px; */
}

.gifts__heading3 {
  margin-top: 40px;

  /* width: 830px;
  height: 51px; */
  /* left: 545px; */
  /* top: 2065px; */
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  padding-top: 3%;
  padding-bottom: 4.5%;
  /* line-height: 51px; */
  text-align: center;
}

.gift__img {
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: -40%;
  padding-bottom: 10%;

  /* position: absolute; */
  /* height: 513px; */
  /* margin-top: 15px; */
  /* align-self: center; */
  /* position: absolute; */
  /* width: 303px;
  height: 513px;
  left: 1102px;
  top: 1339px; */
  /* min-height: 100px; */
}

.cities_img {
  display: block;
  /* text-align: center; */
  margin: 0 auto;
  min-width: 200px;
  /* width: 430px; */
  /* width: 320px; */
  width: 100%;
  align-content: center;
  /* display: inline-block; */

  /* width: 770px;
height: 434px;
left: 575px;
top: 2166px; */

  /* padding-top: -40%; */
}

p {
  font-size: 16px;
}

.cities {
  background-color: #eed7d8;
  border-radius: 23px;
  padding: 6px 27px;
  display: inline-block;
  margin: 4px;
  text-align: center;

  /* flex-direction: column;
  flex-wrap: wrap; */

  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.cities__tags {
  text-align: center;
  padding-bottom: 3%;
  /* padding-left: 23%; */
}

.hide-on-mobile {
  display: inline;
}
/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width: 310px) and (max-device-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .gifts {
    background-image: url(./../bg-images/pattern.png);
    height: 650vh;
  }
  .gifts__heading {
    font-size: 2.3rem;
    padding-top: 5rem;
  }
  .gifts__texts {
    margin-top: -9%;
    padding-left: 25.4%;
    padding-right: 25.4%;
    /* display: absolute; */
    /*  margin: 0 auto; */
    /* padding: 20px 290px 80px; */
    font-size: 18px;
  }
  .cities_img {
    display: absolute;
    margin: 0 auto;
    padding-top: 3%;
    width: 700px;
  }
  .gift__img {
    display: block;
    margin: 0 auto;
    width: 250px;
    /* padding-top: -40%; */
  }
  .gifts__heading3 {
    font-size: 35px;
    /* padding-bottom: 0;  */
    margin-bottom: -7%;
    margin-top: -0.5%;
  }

  .cities__tags {
    padding-left: 23%;
    padding-right: 23%;
    /* font-size: ; */
  }
}
