.welcome {
    height: 100vh;
    padding: var(--space-size);
    background-color: var(--color-main);
    background-image: url(./../bg-images/Group\ 49_mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center bottom; */
    color: var(--color-light);
    /* color: #ffffff; */
  }
  .logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }
  .welcome__article {
    display: flex;
    flex-direction: column;
    height: 88vh;
  }
  .welcome__heading {
    margin-top: 30px;
    font-size: 1.375rem;
    line-height: 1.23;
  }
  .welcome__article p{
    padding-top: 0.7rem;
    font-weight: 600;
  }
  .welcome__article strong{
    font-weight: 900;
  }
  .welcome__article .btn {
    max-width: 232px;
    margin-top: 72.5%;
  
    align-self: center;
  
    background-color: var(--color-light);
    color: var(--color-main);
  }
  
  @media (min-width: 576px) {
    .welcome {
      background-image: url(./../bg-images/Group\ 49_desktop.png);
      background-position: 80% bottom;
    }
    .welcome__article {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .logo {
      width: 98px;
      height: 98px;
    }
    .welcome__article {
      width: 60%;
    }
    .welcome__article .btn {
      align-self: initial;
      margin-top: 3rem;
    }
  }